.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid;
}

.robot {
  background-color: transparent;
  background-image: url("../asset/robot.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.north {
  transform: rotate(180deg);
}

.east {
  transform: rotate(-90deg);
}

.south {
  transform: rotate(0deg);
}

.west {
  transform: rotate(90deg);
}

.row {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  flex-direction: row;
}

input {
  margin: 20px;
  width: 500px;
  height: 30px;
}
